.stacked-items {
    min-width: 250px;
    // border: 2px solid black;
    padding: 8px;
    // font-weight: lighter;
    margin: 8px 0;
    height: 204px;
    
  }
.top-border{
    border-top: 1px gray solid
}
.bottom-border{
    border-bottom: 1px gray solid
}
.grid-container {
    display: flex;
    //grid-template-columns: 50px 1fr 1fr;
    //grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}