:host {
    display: inline-block;
}

.bank-account-field {
    min-width: 200px;

    // Make the field more compact - hide subscript and adjust padding
    ::ng-deep {
        .mat-mdc-form-field-subscript-wrapper {
            display: none;
        }
        
        .mat-mdc-text-field-wrapper {
            padding: 0 12px;
        }
    }
}
