<div class="wrapper">
  <div [formGroup]="bankAccountFormFieldGroup" class="inline_block">
    <mat-form-field appearance="fill">
      <mat-label>Selecteer rekening</mat-label>
      <mat-select placeholder="Rekening" name="bankAccount" (selectionChange)="onBankAccountChange($event.value)">
        <mat-option *ngFor="let bankAccount of bankAccounts" [value]="bankAccount">
          {{bankAccount.accountNumber}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div [formGroup]="startEndDateFormFieldGroup" class="inline_block">
    <mat-form-field appearance="fill">
      <mat-label>Kies periode</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate placeholder="Start datum" [formControl]="startDate">
        <input matEndDate placeholder="Eind datum" [formControl]="endDate" (dateChange)="setStartAndEndDate()">
      </mat-date-range-input>
      <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
  </div>


  <div [formGroup]="transactionTypeFormFieldGroup" class="inline_block">
    <mat-form-field appearance="fill">
      <mat-label>Selecteer transactietype</mat-label>
      <mat-select placeholder="Transactietype" name="type" (selectionChange)="onTransactionTypeChange($event.value)">
        <mat-option *ngFor="let transactionType of transactionTypeStringValues" [value]="transactionType">
          {{transactionType}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div [formGroup]="groupingTypesFormFieldGroup" class="inline_block">
    <mat-form-field appearance="fill">
      <mat-label>Selecteer groepering</mat-label>
      <mat-select placeholder="Groepering" name="type" (selectionChange)="onGroupingChange($event.value)">
        <mat-option *ngFor="let groupingType of groupingTypeStringValues" [value]="groupingType">
          {{groupingType}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

</div>
<div>
  <div>
    <div class="inline_block" style="padding-top: 2px;">
      <label style="padding: 4px;">Shortcuts periode:</label>
      <button mat-raised-button (click)="onPeriodShortCutClick('huidige maand')">huidige maand</button>
      <button mat-raised-button (click)="onPeriodShortCutClick('huidig kwartaal')">huidig kwartaal</button>
      <button mat-raised-button (click)="onPeriodShortCutClick('huidig jaar')">huidig jaar</button>
      <button mat-raised-button (click)="onPeriodShortCutClick('alles')">alles</button>
    </div>
  </div>
</div>
