<!--
<div *ngIf="datatIsLoaded && this.criteria">
    <div style=" padding-top: 10px; width: 100%; overflow-x: auto">
        <p-treeTable [value]="treeNodes" [columns]="columns">
            <ng-template pTemplate="header" let-columns let-rowNode>
                <tr [ttRow]="rowNode">
                    <th *ngFor="let col of columns">
                        {{col}}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns; let i = index">
                        <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>
                        {{formatCell(rowData[col])}}
                    </td>
                </tr>
            </ng-template>
        </p-treeTable>
    </div>
</div>



-->
<div *ngIf="datatIsLoaded && this.criteria">
    <div style="padding-top: 10px; width: 100%; overflow-x: auto">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <!-- Define the columns -->
            <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
                <th mat-header-cell *matHeaderCellDef> {{column}} </th>
                <td mat-cell *matCellDef="let element"> {{getCellValue(element, column)}} </td>
            </ng-container>

            <!-- Header row -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

            <!-- Data rows -->
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>