// Import shared theme variables
@import '../../styles/variables';

.mat-mdc-table {
  border-collapse: collapse;
  td, th {
    border: 1px solid $border-gray;
    padding: 8px;
    text-align: left;

  }
  th {
    background-color: $table-header-bg;
    font-weight: bold;

  }
  td{

  }
}


.mat-mdc-table-sticky {
  background: $table-sticky-bg;
  opacity: 1;
}
.mat-mdc-table-sticky-border-elem-top {
  border-bottom: 2px solid $table-sticky-border;
}

.mat-mdc-table-sticky-border-elem-right {
  border-left: 2px solid $table-sticky-border;
}

.mat-mdc-table-sticky-border-elem-bottom {
  border-top: 2px solid $table-sticky-border;
}

.mat-mdc-table-sticky-border-elem-left {
  border-right: 2px solid $table-sticky-border;
}

.color-red {
  color: $error-danger-red;

}
.color-light-coral {
  background: $expense-red-bg;

}

.color-green {
  color: $success-green;
}

.example-menu {
  display: inline-flex;
  flex-direction: column;
  min-width: 180px;
  max-width: 280px;
  background-color: $tag-background;
  padding: 6px 0;
}

.example-menu-item {
  background-color: transparent;
  cursor: pointer;
  border: none;

  user-select: none;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;

  display: flex;
  align-items: center;
  flex-direction: row;
  flex: 1;
}

.example-menu-item:hover {
  background-color: $border-gray;
}

.example-menu-item:active {
  background-color: $text-muted-light;
}
