// Import shared theme variables
@import '../../styles/variables';

:host {
  display: block;
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;

  ::ng-deep .mat-mdc-list-base .mat-mdc-list-item, .mat-list-base .mat-list-option  {
    padding: 0 !important;  // Adjust as needed
    margin: 0 !important;  // Adjust as needed
    height: 20px !important;  // Adjust as needed
  }

  .q-icon {
    font-style: normal;
    font-size: 12px;
  }

  .q-remove-icon {
    &::before {
      content: '❌'
    }
  }

  .q-arrow-icon-button {
    float: left;
    margin: 4px 6px 4px 0;
    transform: rotate(90deg);
    transition: linear 0.25s transform;
    cursor: pointer;

    &.q-collapsed {
      transform: rotate(0);
    }
  }

  .q-arrow-icon {
    &::before {
      content: '▶'
    }
  }

  .q-add-icon {
    color: $text-secondary;

    &::before {
      content: '➕'
    }
  }

  .q-remove-button {
    color: $error-danger-red;
    width: 31px;
  }

  .q-switch-group, .q-button-group {
    font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
    //overflow: hidden;
  }

  .q-right-align {
    float: right;
  }

  .q-button {
    margin-left: 8px;
    padding: 0 8px;
    background-color: $card-background;

    &:disabled {
      display: none;
    }
  }

  .q-control-size {
    display: inline-block;
    vertical-align: top;
    padding-right: 2px;

  }

  .q-input-control, .q-operator-control, .q-field-control, .q-entity-control {
    display: inline-block;
    padding: 2px 6px;
    color: $text-secondary;
    background-color: $card-background;
    background-image: none;
    border: 1px solid $border-gray;
    border-radius: 2px;
    box-sizing: border-box;
    min-width: 50px;
    max-width: 120px;



    &:disabled {
      border-color: transparent;
    }
  }

  .q-operator-control, .q-field-control, .q-entity-control, .q-input-control:not([type='checkbox']) {
    min-height: 32px;
    -webkit-appearance: none;
  }

  .q-switch-label, .q-button {
    float: left;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 30px;
    font-weight: normal;
    text-align: center;
    text-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;

    &:hover {
      cursor: pointer;
      background-color: $hover-gray;
    }
  }

  .q-switch-label {
    background-color: $tag-background;
    padding: 0 8px;
  }

  .q-switch-radio {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;

    &:checked + .q-switch-label {
      border: 1px solid $link-button-blue;
      background: $card-background;
      color: $link-button-blue;
    }

    &:disabled + .q-switch-label {
      display: none;
    }

    &:checked:disabled + .q-switch-label {
      display: initial;
      color: initial;
      cursor: default;
      border-color: transparent;
    }
  }

  .q-invalid-ruleset {
    border: 1px solid rgba(179, 65, 93, 0.5) !important;
    background: rgba(179, 65, 93, 0.1) !important;
  }

  .q-empty-warning {
    color: rgb(141, 37, 46);
    text-align: center;
  }

  .q-ruleset {
    border: 1px solid $border-gray;
  }

  .q-rule {
    border: 1px solid $border-gray;
    background: $card-background;
  }

  .q-transition {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }

  .q-tree-container {
    width: 100%;
    overflow: hidden;
    transition: ease-in 0.25s max-height;

    &.q-collapsed {
      max-height: 0 !important;
    }
  }

  .q-tree {
    list-style: none;
    margin: 4px 0 2px;
  }

  .q-row {
    padding: 6px 8px;
    margin-top: 6px;
  }

  .q-connector {
    position: relative;

    &::before {
      top: -5px;
      border-width: 0 0 2px 2px;
    }

    &::after {
      border-width: 0 0 0 2px;
      top: 50%;
    }

    &::before, &::after {
      content: '';
      left: -12px;
      border-color: $border-gray;
      border-style: solid;
      width: 9px;
      height: calc(50% + 6px);
      position: absolute;
    }

    &:last-child::after {
      content: none;
    }
  }

  .q-inline-block-display {
    display: inline-block;
    vertical-align: top;
  }

  .q-field-title {
    font-size: smaller;
    text-decoration: underline;
    text-align: center
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
  }

  .grid-item {
    border: 1px solid $border-gray;
    padding: 10px;
    text-align: center;
  }
}

.list-input-container {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: 1px;
  border-color: $border-gray;
  padding-bottom: 2px ;

  mat-form-field {
    width: 100%;
    margin-bottom: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: $border-gray;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version.*/
  mat-list-item {
    display: flex;
    align-items: center;
  }

  button {
    margin-left: 10px;
  }
}

.list-input-container-empty {
  display: flex;
  flex-direction: column;

  mat-form-field {
    width: 100%;
    margin-bottom: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: $border-gray;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version.*/
  mat-list-item {
    display: flex;
    align-items: center;
  }

  button {
    margin-left: 10px;
  }
}




