<div [ngClass]="getClassNames('switchRow')">


  <a *ngIf="allowCollapse" (click)="toggleCollapse()"
     [ngClass]="getClassNames('arrowIconButton', data.collapsed ? 'collapsed' : '')">
    <i [ngClass]="getClassNames('arrowIcon')"></i>
  </a>


  <!--  button group-->

  <div [ngClass]="getClassNames('buttonGroup', 'rightAlign')">
    <button type="button" (click)="addRule()" [ngClass]="getClassNames('button')" [disabled]=disabled>
      <i [ngClass]="getClassNames('addIcon')"></i> Rule
    </button>
    <button type="button" (click)="addRuleSet()" [ngClass]="getClassNames('button')" *ngIf="allowRuleset"
            [disabled]=disabled>
      <i [ngClass]="getClassNames('addIcon')"></i> Ruleset
    </button>
    <ng-container *ngIf="!!parentValue && allowRuleset">
      <button type="button" (click)="removeRuleSet()" [ngClass]="getClassNames('button', 'removeButton')"
              [disabled]=disabled>
        <i [ngClass]="getClassNames('removeIcon')"></i>
      </button>
    </ng-container>
  </div>


  <!--  switch group-->
  <div [ngClass]="getClassNames('switchGroup', 'transition')" *ngIf="data">
    <div [ngClass]="getClassNames('switchControl')">
      <input type="radio" [ngClass]="getClassNames('switchRadio')" [(ngModel)]="data.condition" [disabled]=disabled
             value="AND" #andOption/>
      <label (click)="changeCondition(andOption.value)" [ngClass]="getClassNames('switchLabel')">AND</label>
    </div>
    <div [ngClass]="getClassNames('switchControl')">
      <input type="radio" [ngClass]="getClassNames('switchRadio')" [(ngModel)]="data.condition" [disabled]=disabled
             value="OR" #orOption/>
      <label (click)="changeCondition(orOption.value)" [ngClass]="getClassNames('switchLabel')">OR</label>
    </div>
  </div>

</div>

<div #treeContainer (transitionend)="transitionEnd($event)" style="overflow-x: auto"
     [ngClass]="getClassNames('treeContainer', data.collapsed ? 'collapsed' : '')">
  <ul [ngClass]="getClassNames('tree')" *ngIf="data && data.rules">
    <ng-container *ngFor="let rule of data.rules;let i=index">

      <ng-container
        *ngIf="{ruleset: !!rule.rules, invalid: !config.allowEmptyRulesets && rule.rules && rule.rules.length === 0} as local">
        <li [ngClass]="getQueryItemClassName(local)">
          <ng-container *ngIf="!local.ruleset">

            <!--removeButton-->
            <div [ngClass]="getClassNames('removeButtonSize', 'rightAlign')">
              <button mat-button type="button" [ngClass]="getClassNames('button', 'removeButton')"
                      (click)="removeRule(rule, data)" [disabled]=disabled>
                <i [ngClass]="getClassNames('removeIcon')"></i>
              </button>
            </div>


            <form [formGroup]="rule.ruleForm" onSubmit={this.submitHandler}>
              <!--fieldType-->
              <div [ngClass]="getClassNames('fieldControlSize')">

                <div class="q-field-title">field type</div>
                <mat-form-field [ngClass]="getClassNames('fieldControl')">
                  <mat-select formControlName="fieldType"
                              [disabled]="disabled" [multiple]="false" [compareWith]="compareMatSelectItems">
                    <mat-option *ngFor="let fieldType of getFieldTypes()" [value]="fieldType">
                      {{ fieldType }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <!-- fieldMatchType-->
              <div [ngClass]="getClassNames('fieldControlSize')" [ngSwitch]="rule.fieldType">
                <div *ngSwitchCase="'string'">
                  <div class="q-field-title">match type</div>
                  <mat-form-field [ngClass]="getClassNames('fieldControl')">
                    <mat-select formControlName="fieldMatchType"
                                [disabled]="disabled" [multiple]="false" [compareWith]="compareMatSelectItems">
                      <mat-option *ngFor="let fieldMatchType of MATCH_TYPES" [value]="fieldMatchType">
                        {{ fieldMatchType.value }}
                      </mat-option>
                    </mat-select>

                  </mat-form-field>
                  <mat-error *ngIf="showFieldMatchTypeError(rule)" style="font-size: xx-small">
                    'match type' must not be empty!
                  </mat-error>
                </div>
              </div>

              <!-- fields -->
              <!-- multiple selection mat-select -->

              <div formGroupName="fieldGroup" [ngClass]="getClassNames('fieldControlSize')">
                <div *ngIf="RuleUtils.allowMultipleFields(rule)" [ngClass]="getClassNames('fieldControlSize')">
                  <div class="q-field-title">field name</div>
                  <mat-form-field [ngClass]="getClassNames('fieldControl')" style="min-width: 200px">
                    <mat-select formControlName="fieldMultiple"
                                [disabled]="disabled" [multiple]="true" [compareWith]="compareMatSelectItems">
                      <mat-option *ngFor="let field of getFieldsForSelectedType(rule)" [value]="field">
                        {{ field.value }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-error *ngIf="showEmptyFieldNameError(rule)" style="font-size: xx-small">
                    'field name' must not be empty!
                  </mat-error>
                </div>

                <!-- single selection mat-select -->
                <div *ngIf="!RuleUtils.allowMultipleFields(rule)" [ngClass]="getClassNames('fieldControlSize')"
                     style="min-width: 150px">
                  <div class="q-field-title">field name</div>
                  <mat-form-field [ngClass]="getClassNames('fieldControl')" style="min-width: 200px">
                    <mat-select formControlName="fieldSingle"
                                [disabled]="disabled" [multiple]="false" [compareWith]="compareMatSelectItems">
                      <mat-option *ngFor="let field of getFieldsForSelectedType(rule)" [value]="field">
                        {{ field.value }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-error *ngIf="showEmptyFieldNameError(rule)" style="font-size: xx-small">
                    'field name' must not be empty!
                  </mat-error>
                </div>

              </div>


              <!-- operators -->
              <div [ngClass]="getClassNames('operatorControlSize')">
                <div>
                  <div class="q-field-title">operator</div>
                  <mat-form-field [ngClass]="getClassNames('fieldControl')">
                    <mat-select formControlName="operator"
                                [disabled]="disabled" [compareWith]="compareMatSelectItems">
                      <mat-option *ngFor="let operator of getOperatorsForSelectedType(rule)" [value]="operator">
                        {{ operator.value }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-error *ngIf="showOperatorError(rule)" style="font-size: xx-small">
                    'operator' must not be empty!
                  </mat-error>
                </div>
              </div>

              <!-- valueMatchType-->
              <div [ngClass]="getClassNames('fieldControlSize')" *ngIf="!RuleUtils.hideValueMatchType(rule)">
                <div>
                  <div class="q-field-title">match type</div>
                  <mat-form-field [ngClass]="getClassNames('fieldControl')">
                    <mat-select formControlName="valueMatchType"
                                [disabled]="disabled" [multiple]="false" [compareWith]="compareMatSelectItems">
                      <mat-option *ngFor="let valueMatchType of MATCH_TYPES" [value]="valueMatchType">
                        {{ valueMatchType.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-error *ngIf="showValueMatchTypeError(rule)" style="font-size: xx-small">
                    'match type' must not be empty!
                  </mat-error>
                </div>
              </div>


              <!-- field value-->
              <div [ngClass]="getClassNames('fieldControlSize')" formGroupName="fieldValueGroup">
                <div class="q-field-title">field value</div>
                <div [ngClass]="getClassNames('inputControlSize')" [ngSwitch]="rule.fieldType">
                  <!-- string field-->
                  <div *ngSwitchCase="'string'"
                       [ngClass]="fieldValueIsEmpty(rule) ? 'list-input-container-empty' : 'list-input-container'">
                    <mat-expansion-panel [expanded]="requireExpansionPanelOpen(rule)" #expansionPanel style="min-width: fit-content" (opened)="panelOpenState = true"
                                         (closed)="panelOpenState = false">
                      <mat-expansion-panel-header   style="min-height: 60px; padding-bottom: 5px;" >

                        <div style=" display: flex; flex-direction: column">
                          <mat-form-field>
                            <input matInput formControlName="inputTextForStringField"
                                   (keydown.enter)="addStringValue(rule, expansionPanel); $event.preventDefault()"
                                   placeholder="string to match" type="text">
                          </mat-form-field>
                          <mat-error *ngIf="fieldValueIsEmpty(rule)" style="font-size: xx-small">
                            'field value' must not be empty!
                          </mat-error>
                        </div>
                      </mat-expansion-panel-header>

                      <!--display the contents of rule.value in a mat-list-->
                        <li *ngFor="let item of rule.value" style="height: 20px !important">
                          <button mat-icon-button (click)="removeStringValueFromStringField(i, rule)">
                            <mat-icon style="font-size: 12px">cancel</mat-icon>
                          </button>
                          <span>{{ item }}</span>
                        </li>
                    </mat-expansion-panel>

                  </div>

                  <!-- number field-->
                  <div *ngSwitchCase="'number'" [ngClass]="getClassNames('fieldControl')">
                    <mat-form-field>
                      <input matInput
                             formControlName="fieldValueNumber"
                             [disabled]="disabled" type="number">
                    </mat-form-field>
                  </div>

                  <!-- date field-->
                  <div *ngSwitchCase="'date'" [ngClass]="getClassNames('fieldControl')">
                    <mat-form-field>
                      <input formControlName="fieldValueDate" matInput [disabled]="disabled" type="date">
                    </mat-form-field>
                    <mat-error *ngIf="fieldValueIsEmpty(rule)" style="font-size: xx-small">
                      'field value' must not be empty!
                    </mat-error>
                  </div>

                  <!-- time field-->
                  <div *ngSwitchCase="'time'" [ngClass]="getClassNames('fieldControl')">
                    <mat-form-field>
                      <input formControlName="fieldValueTime" matInput [disabled]="disabled" type="time">
                    </mat-form-field>
                    <mat-error *ngIf="fieldValueIsEmpty(rule)" style="font-size: xx-small">
                      'field value' must not be empty!
                    </mat-error>
                  </div>

                  <!-- category field-->
                  <div *ngSwitchCase="'categorical'">
                    <mat-form-field [ngClass]="getClassNames('fieldControl')">
                      <mat-select formControlName="fieldValueCategorical"
                                  [disabled]="disabled" [multiple]="true" [compareWith]="compareMatSelectItems">
                        <mat-option *ngFor="let opt of getOptionsForField(rule)" [value]="opt.value">
                          {{ opt.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-error *ngIf="fieldValueIsEmpty(rule)" style="font-size: xx-small">
                      'field value' must not be empty!
                    </mat-error>
                  </div>

                  <!-- boolean field-->
                  <div *ngSwitchCase="'boolean'" [ngClass]="getClassNames('fieldControl')">
                    <mat-checkbox>
                      <input formControlName="fieldValueBoolean"
                             [disabled]="disabled">
                    </mat-checkbox>
                    <mat-error *ngIf="fieldValueIsEmpty(rule)" style="font-size: xx-small">
                      'field value' must not be empty!
                    </mat-error>
                  </div>


                </div>
              </div>
            </form>


          </ng-container>

          <query-builder *ngIf="local.ruleset" [data]="rule" [disabled]="disabled"
                         [parentTouchedCallback]="parentTouchedCallback || onTouchedCallback"
                         [parentChangeCallback]="parentChangeCallback || onChangeCallback"
                         [parentValue]="data" [classNames]="classNames" [config]="config"
                         [allowRuleset]="allowRuleset"
                         [allowCollapse]="allowCollapse" [emptyMessage]="emptyMessage" [operatorMap]="operatorMap">
          </query-builder>
          <p [ngClass]="getClassNames('emptyWarning')" *ngIf="local.invalid">
            {{ emptyMessage }}
          </p>

        </li>
      </ng-container>
    </ng-container>
  </ul>
</div>

