// Import shared theme variables
@import '../../styles/variables';

section {
  display: flex;
  align-items: flex-start;
}


.spinner-container {
  background-color: $card-background;
  padding: 20px;
  border-radius: $radius-tag;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}


button {

  padding: 1.40em 0;
  line-height: 1;

}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.stacked-items {
  min-width: 250px;
  padding: 8px;
  margin: 8px 0;

}


.flex-container {
  display: flex;
}

.flex-child{
  flex: 1;
}

.flex-child:first-child {
  margin-right: 2px;
}
