<!-- <div  style="width: fit-content;block-size: fit-content" >
  
</div> -->
<div class="grid-container" style="width: 100%;" appearance="fill">
  <div class="grid-child" style="padding-top: 15px;font-size: larger;">
    <span>Bedrag</span> 
  </div>
  <div>
    <mat-form-field class="grid-child" >
      <mat-label>min. bedrag</mat-label>
      <input matInput [(ngModel)]="minAmount" (change)="onSelectionChange()">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="grid-child" >
      <mat-label>max. bedrag</mat-label>
      <input matInput [(ngModel)]="maxAmount" (change)="onSelectionChange()">
    </mat-form-field>
  </div>

</div>



<ng-select style="font-size: larger;" [items]="transactionTypesObservable | async"
           autofocus
           [(ngModel)]="selectedTransactionType"
           (change)="onSelectionChange()" 
           placeholder="inkomsten / uitgaven"
           >
</ng-select>