<h1 style="align-content: center" mat-dialog-title>Fout</h1>
<div mat-dialog-content>
  <div >{{ data.message }}</div>
  <table mat-table [dataSource]="data.nodes" class="mat-z8" style="border-collapse: separate; width: 100%">

    <!-- Category Column -->
    <ng-container matColumnDef="categorie">
      <th mat-header-cell *matHeaderCellDef>Categorie</th>
      <td mat-cell *matCellDef="let node">{{ node.name }}</td>
    </ng-container>

    <!-- Budget Column -->
    <ng-container matColumnDef="maandbudget">
      <th mat-header-cell *matHeaderCellDef>Maandbudget</th>
      <td mat-cell *matCellDef="let node">{{ node.budgetTreeNodeAmount }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['categorie', 'maandbudget']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['categorie', 'maandbudget'];"></tr>

  </table>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Ok</button>
</div>
