.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

/*
 * This padding sets alignment of the nested nodes.
 */
.example-tree .mat-nested-tree-node div[role=group] {
  padding-left: 40px;
}

/*
 * Padding for leaf nodes.
 * Leaf nodes need to have padding so as to align with other non-leaf nodes
 * under the same parent.
 */
.example-tree div[role=group] > .mat-tree-node {
  padding-left: 40px;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-content {
  /* Adjust these properties as needed */
  width: 100%; /* This will make the div take up the full width of its parent. Adjust as needed. */
  text-align: right; /* This will align the text to the right. Adjust as needed. */
}

.grid-container {
  display: flex;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.parent {
  position: relative;
  width: 100%; /* Ensure the parent takes up the full width */
  padding-bottom: 20px;
  margin-bottom: 20px;
  //height: 100vh;
}

.child0 {
  position: absolute;
  left: 1%; /* Position child1 at 50% of the parent's width */
  //transform: translateX(-10%); /* Center child1 horizontally */
  padding-right: 10px;
}
.child1 {
  position: absolute;
  left: 50%; /* Position child1 at 50% of the parent's width */
  transform: translateX(-50%); /* Center child1 horizontally */
}

.child2 {
  position: absolute;
  right: 0; /* Position child2 at the right edge of the parent */
  padding-right: 10px;

}

.button-container {
  display: flex;
  //justify-content: flex-end;
  justify-content: center;
}


.toolbar-container {
  display: flex;
  justify-content: space-between;
}
.title {
  flex: 1;
  display: flex;
  justify-content: center;
}
