<div class="inline_block" style="padding-top: 10px; padding-left: 10px;">
  <div>
    <label style="padding-right: 19px;text-decoration: underline">Uitgaven</label>
    <mat-radio-group [(ngModel)]="selectedExpensesRecurrence" (ngModelChange)="onUitgavenChange()">
      <mat-radio-button style="padding-right: 5px" *ngFor="let type of types" [value]="type">
        {{type}}
      </mat-radio-button>
    </mat-radio-group>
  </div>
  <div>
    <label style="padding-right: 5px; padding-top: 5px; text-decoration: underline">Inkomsten</label>
    <mat-radio-group [(ngModel)]="selectedRevenueRecurrence" (ngModelChange)="onInkomstenChange()">
      <mat-radio-button style="padding-right: 5px" *ngFor="let type of types" [value]="type">
        {{type}}
      </mat-radio-button>
    </mat-radio-group>
  </div>

</div>
