:host {
  display: block;
  height: 100%;

  mat-drawer-container {
    height: 100%;
    min-height: 400px; /* Fallback for Storybook */


    mat-nav-list {
      width: 65px;
      overflow: hidden;
      transition: width 0.3s;

      a {
        text-decoration: none;
        color: inherit;

        mat-list-item {
          ::ng-deep .mdc-list-item__content {
            display: flex !important;
            flex-direction: row !important;
            align-items: center !important;
          }
        }
      }

      fa-icon {
        font-size: 18px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
      }

      span {
        opacity: 0;
        margin-left: 12px;
        white-space: nowrap;
        transition: opacity 0.2s;
      }
    }

    mat-drawer:hover {
      mat-nav-list {
        width: 180px;

        span {
          opacity: 1;
          transition: opacity 0.1s ease-in 0.2s;
        }
      }
    }
  }
}