// Import shared theme variables
@import '../../styles/variables';

.parent {
  border: 1px solid $border-gray;
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
}
.child {
  display: inline-block;
  border: 1px solid $error-danger-red;
  padding: 1rem 1rem;
  vertical-align: middle;
}

.chart-parent {
  border: 1px solid $border-gray;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.chart-child {
  margin-bottom: 10px;
  width: 50%;
}

.dashboard{
  .card{
    background: $card-background;
    padding:0;
    .card-title{
      display:flex;
      justify-content: center;
      align-items: center;

      .title{
        font-size: 20px;
        color: $text-primary;
      }
    }
    .description{
      font-size: 12px;
      color: $text-secondary;
    }

  }
}
.dashboard-card-content {
  width: 100%;
  height: calc(100% - 30px);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
