// Import shared theme variables
@import '../../styles/variables';

.highlight-row-no-error{
  background-color: $income-green-bg;
}
.highlight-row-error{
  background-color: $expense-red-bg;
}

.highlight-total-row{
  background-color: $tag-background;
  font-weight: bold;
}
/*td.mat-cell, th.mat-header-cell, tr.mat-header-row, tr.mat-row {
  height: 30px;
}*/
:host ::ng-deep .mat-mdc-row{
  padding-bottom: 2px;
  padding-top: 2px;
}
/*
:host ::ng-deep mat-error {
  font-size: 10px;
}
*/


.mat-mdc-table-wrapper {
  //height: 300px; // Set this to your desired height
  overflow: auto;
}

.mat-mdc-table {
  width: 100%;
}

.button {
  padding: 1.40em 0;
  line-height: 1;
}

.flex-child{
  flex: 1;
}

.flex-child:first-child {
  margin-right: 2px;
}

